/* ==================== PROMO ======================= */
.promo {
  padding: 50px 0;
  /* margin: -20px; */
  display: flex;
  justify-content: space-between;
}
.card {
  flex: 50%;
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-text-light {
  color: #fff;
}
.card-title {
  font-weight: 500;
  font-size: 23px;
  line-height: 24px;
  margin: 4px 0 21px 0;
}
.card-dexcription {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}
.card-price {
  display: block;
  font-weight: 500;
  font-size: 23px;
  line-height: 24px;
  margin-bottom: 8px;
}
.card-delivery {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}
.sweet-basket {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../img/sweet-basket.png') no-repeat center / cover;
}
.minimum {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../img/minimum.png') no-repeat center / cover;
}
.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}
