
/* ============= FOOTER ============= */
.footer {
  background: #f6f6f6;
  padding: 40px 0;
}
.footer-wrapper {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 50px;
}
.footer-link {
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  margin-right: 50px;
}
.social-links {
  margin-left: auto;
}
.social-link {
  margin-left: 20px;
  text-decoration: none;
}