.container {
  max-width: 960px;
}
.search-form {
  margin: 0 40px;
}
.card {
  padding: 25px;
  max-width: 470px;
  min-height: 300px;
}
.delivery-card {
  flex: 33.3%;
  max-width: calc(33.3% - 15px);
}
.tabs {
  margin-bottom: 0;
}
.tabs-content {
  flex-wrap: wrap;
  /* margin-bottom: 0;   */
}
.tabs-card {
  flex: 50%;
  max-width: calc(50% - 30px);
  margin-top: 60px;
}
.section-benefits {
  padding: 50px 0;
}
.benefit-card {
  max-width: 232px;
  padding: 0 5px;
}
